=render :partial=>'layouts/banner'


#page-title.container-fluid.titleLine
  %h2 Donor Management
= form_tag donors_path, method: 'get' do
  = label_tag 'NEW search'
  = search_field_tag :search
  = submit_tag 'Submit'
#mainbody.container-fluid
  = render :partial=>'search_result'

#donorSummary.modal.fade{:role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type=>'button',:data => {:dismiss => 'modal'},:aria => { :label => 'Close'}}="&times;".html_safe
        %h4.modal-title Summary
      .modal-body
      .modal-footer
        %button.btn.btn-default{:type=>'button',:data => {:dismiss => 'modal'}} Close
%h3 Import Donors
= form_tag import_donors_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Upload Donors"
